@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Hurricane&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


:root {
    --font-color: rgb(117, 64, 15);
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

body, html {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

* {
    border: none;
    padding: none;
    margin: 0;
    color: var(--font-color);
}

.white-text {
    color: white !important;
}

A {
    color: white !important;
}

.app {
    background-color: black;
}


.destaque {
    font-family: "Hurricane", cursive;
    font-weight: 400;
    font-style: normal;
}


