.p4 {
    background-image: url('/images/p4_lg.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100dvh;
}

@media screen and (max-width: 768px) {
    .p4 {
        background-image: url('/images/p4_md.jpg');
        background-size: cover;
        background-position: 70%;

    }
}