.p5 {
    background-image: url('/images/p5_lg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

@media screen and (max-width: 768px) {
    .p5 {
        background-image: url('/images/p5_md.jpg');
        background-size: cover;
        background-position: 65%;
    }
}
